<div class="row-fluid">
  <div class="offset1 span10">
    <h1>Table B Number Collector and Uniquifier</h1>
  </div>
</div>

<div class="row-fluid">
  <div class="offset1 span10">
    <div class="well field-box"><label>Min:</label><input type="tel" ng-model="min" class="in-text"></div>
    <div class="well field-box"><label>Max:</label><input type="tel" ng-model="max" class="in-text"></div>
    <div class="well field-box"><label>Amount:</label><input type="tel" ng-model="n" class="in-text"></div>
    <div class="well field-box"><label>Digits:</label><input type="tel" ng-model="digits" class="in-text"></div>
    <div class="well entry-box">
      <input type="tel" ng-model="entry" on-enter="parse()" on-change="parse(true)" ng-disabled="n < 1" style="width: {{(digits*20)+30}}px !important;">
      <ul>
        <li ng-repeat="num in unumbers" class="well" number-card='{num:num,remove:removeNumber}'></li>
      </ul>
    </div>
    <span>Number of list items: {{unumbers.length}}</span><br>
    <span>Click to remove a number.</span>
  </div>
</div>

<script>
$('.field-box input').addClass('form-control').addClass('input-sm');
$('.entry-box input').addClass('form-control').addClass('input').addClass('text-center');
</script>
