body{
  .container{
    width:auto;
  }
  text-align: center;
  ul{
    list-style: none;
    margin:0;
    padding:0;
    text-indent:0;
    margin-top: 20px;
    li{
      display: inline-block;
      font-weight: bold;
      font-size: 16px;
      font-family: monospace;
      margin: 8px;
    }
  }
  .in-text{
    display: inline-block;
    width: 60px;
    vertical-align: baseline;
    text-align: center;
  }
  .field-box{
    display: inline-block;
    width: 100px;
    margin: 5px;
  }
  .entry-box{
    margin-top: 20px;
  }
  .number-card{
    cursor: pointer;
  }
  span{
    font-size: 18px;
    line-height: 30px;
  }
  &> div:first-child{
    margin: 0 auto;
    margin-top: 0px;
    /*@media only screen and (max-device-width: 480px) {width:100%;}*/
  }
  h1{
    margin-bottom: 30px;
  }
  input[ng-model=entry]{
    margin: 0 auto;
    margin-top: 30px;
  }
  #credits{
    text-align: center;
    margin-top: 30px;
    font-family: monospace;
    /*@media only screen and (max-device-width: 480px) {width:100%;}*/
  }
}
